html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -1761px;
   float:left
}
div#container
{
   width: 970px;
   height: 3522px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #F0F0F0;
   color: #005595;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   font-family: tahoma, sans-serif;
   font-size: 14px;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
#indexShape1
{
   border-width: 0;
}
#indexImage1
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#zagolovok
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Zakaz-zvonok
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
}
#wb_Zakaz-zvonok ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_Zakaz-zvonok li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 180px;
}
#wb_Zakaz-zvonok a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #C0C0C0 solid;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   background-color: #1E90FF;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   text-decoration: none;
   width: 170px;
   height: 45px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 45px;
   text-align: center;
}
#wb_Zakaz-zvonok li:hover a, #wb_Zakaz-zvonok a:hover
{
   color: #F5F5F5;
   background-color: #00BFFF;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_Zakaz-zvonok li.firstmain
{
   padding-left: 0px;
}
#wb_Zakaz-zvonok li.lastmain
{
   padding-right: 0px;
}
#wb_Zakaz-zvonok br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#nomertel
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexLine1
{
   color: #1E90FF;
   background-color: #1E90FF;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#pochemu
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage5
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage6
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage7
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage8
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexLine2
{
   color: #1E90FF;
   background-color: #1E90FF;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#indexImage9
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage10
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#viberi
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage12
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText1 div
{
   text-align: left;
}
#wb_zakaz1
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
}
#wb_zakaz1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_zakaz1 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 120px;
}
#wb_zakaz1 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #C0C0C0 solid;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   background-color: #1E90FF;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 110px;
   height: 30px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 30px;
   text-align: center;
}
#wb_zakaz1 li:hover a, #wb_zakaz1 a:hover
{
   color: #DCDCDC;
   background-color: #00BFFF;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_zakaz1 li.firstmain
{
   padding-left: 0px;
}
#wb_zakaz1 li.lastmain
{
   padding-right: 0px;
}
#wb_zakaz1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#indexImage13
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText2 div
{
   text-align: left;
}
#wb_zakaz2
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
}
#wb_zakaz2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_zakaz2 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 120px;
}
#wb_zakaz2 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #C0C0C0 solid;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   background-color: #1E90FF;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 110px;
   height: 30px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 30px;
   text-align: center;
}
#wb_zakaz2 li:hover a, #wb_zakaz2 a:hover
{
   color: #DCDCDC;
   background-color: #00BFFF;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_zakaz2 li.firstmain
{
   padding-left: 0px;
}
#wb_zakaz2 li.lastmain
{
   padding-right: 0px;
}
#wb_zakaz2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#indexImage14
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText3 div
{
   text-align: left;
}
#wb_zakaz3
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
}
#wb_zakaz3 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_zakaz3 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 120px;
}
#wb_zakaz3 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #C0C0C0 solid;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   background-color: #1E90FF;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 110px;
   height: 30px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 30px;
   text-align: center;
}
#wb_zakaz3 li:hover a, #wb_zakaz3 a:hover
{
   color: #DCDCDC;
   background-color: #00BFFF;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_zakaz3 li.firstmain
{
   padding-left: 0px;
}
#wb_zakaz3 li.lastmain
{
   padding-right: 0px;
}
#wb_zakaz3 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#indexImage15
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText4 div
{
   text-align: left;
}
#wb_zakaz4
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
}
#wb_zakaz4 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_zakaz4 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 120px;
}
#wb_zakaz4 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #C0C0C0 solid;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   background-color: #1E90FF;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 110px;
   height: 30px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 30px;
   text-align: center;
}
#wb_zakaz4 li:hover a, #wb_zakaz4 a:hover
{
   color: #DCDCDC;
   background-color: #00BFFF;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_zakaz4 li.firstmain
{
   padding-left: 0px;
}
#wb_zakaz4 li.lastmain
{
   padding-right: 0px;
}
#wb_zakaz4 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#indexImage16
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText5 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText5 div
{
   text-align: left;
}
#wb_zakaz5
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
}
#wb_zakaz5 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_zakaz5 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 120px;
}
#wb_zakaz5 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #C0C0C0 solid;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   background-color: #1E90FF;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 110px;
   height: 30px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 30px;
   text-align: center;
}
#wb_zakaz5 li:hover a, #wb_zakaz5 a:hover
{
   color: #DCDCDC;
   background-color: #00BFFF;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_zakaz5 li.firstmain
{
   padding-left: 0px;
}
#wb_zakaz5 li.lastmain
{
   padding-right: 0px;
}
#wb_zakaz5 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#indexImage17
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText6 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText6 div
{
   text-align: left;
}
#wb_zakaz6
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
}
#wb_zakaz6 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_zakaz6 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 120px;
}
#wb_zakaz6 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #C0C0C0 solid;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   background-color: #1E90FF;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 110px;
   height: 30px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 30px;
   text-align: center;
}
#wb_zakaz6 li:hover a, #wb_zakaz6 a:hover
{
   color: #DCDCDC;
   background-color: #00BFFF;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_zakaz6 li.firstmain
{
   padding-left: 0px;
}
#wb_zakaz6 li.lastmain
{
   padding-right: 0px;
}
#wb_zakaz6 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#indexImage18
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText7 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText7 div
{
   text-align: left;
}
#wb_zakaz7
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
}
#wb_zakaz7 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_zakaz7 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 120px;
}
#wb_zakaz7 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #C0C0C0 solid;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   background-color: #1E90FF;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 110px;
   height: 30px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 30px;
   text-align: center;
}
#wb_zakaz7 li:hover a, #wb_zakaz7 a:hover
{
   color: #DCDCDC;
   background-color: #00BFFF;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_zakaz7 li.firstmain
{
   padding-left: 0px;
}
#wb_zakaz7 li.lastmain
{
   padding-right: 0px;
}
#wb_zakaz7 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#indexImage19
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText8 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText8 div
{
   text-align: left;
}
#wb_zakaz8
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
}
#wb_zakaz8 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_zakaz8 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 120px;
}
#wb_zakaz8 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #C0C0C0 solid;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   background-color: #1E90FF;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 110px;
   height: 30px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 30px;
   text-align: center;
}
#wb_zakaz8 li:hover a, #wb_zakaz8 a:hover
{
   color: #DCDCDC;
   background-color: #00BFFF;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_zakaz8 li.firstmain
{
   padding-left: 0px;
}
#wb_zakaz8 li.lastmain
{
   padding-right: 0px;
}
#wb_zakaz8 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#indexImage20
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText9 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText9 div
{
   text-align: left;
}
#wb_zakaz9
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
}
#wb_zakaz9 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_zakaz9 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 120px;
}
#wb_zakaz9 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #C0C0C0 solid;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   background-color: #1E90FF;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 110px;
   height: 30px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 30px;
   text-align: center;
}
#wb_zakaz9 li:hover a, #wb_zakaz9 a:hover
{
   color: #DCDCDC;
   background-color: #00BFFF;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_zakaz9 li.firstmain
{
   padding-left: 0px;
}
#wb_zakaz9 li.lastmain
{
   padding-right: 0px;
}
#wb_zakaz9 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#indexLine3
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#d-sr
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage22
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText10 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText10 div
{
   text-align: left;
}
#wb_zakaz10
{
   border: 0px #000000 solid;
   background-color: transparent;
}
#wb_zakaz10 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_zakaz10 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 120px;
}
#wb_zakaz10 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #FFD700 solid;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   background-color: #E67F22;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 110px;
   height: 30px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 30px;
   text-align: center;
}
#wb_zakaz10 li:hover a, #wb_zakaz10 a:hover
{
   color: #DCDCDC;
   background-color: #FFA500;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_zakaz10 li.firstmain
{
   padding-left: 0px;
}
#wb_zakaz10 li.lastmain
{
   padding-right: 0px;
}
#wb_zakaz10 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#indexImage23
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText11 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText11 div
{
   text-align: left;
}
#wb_zakaz11
{
   border: 0px #000000 solid;
   background-color: transparent;
}
#wb_zakaz11 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_zakaz11 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 120px;
}
#wb_zakaz11 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #FFD700 solid;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   background-color: #E67F22;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 110px;
   height: 30px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 30px;
   text-align: center;
}
#wb_zakaz11 li:hover a, #wb_zakaz11 a:hover
{
   color: #DCDCDC;
   background-color: #FFA500;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_zakaz11 li.firstmain
{
   padding-left: 0px;
}
#wb_zakaz11 li.lastmain
{
   padding-right: 0px;
}
#wb_zakaz11 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#indexImage24
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText12 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText12 div
{
   text-align: left;
}
#wb_zakaz12
{
   border: 0px #000000 solid;
   background-color: transparent;
}
#wb_zakaz12 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_zakaz12 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 120px;
}
#wb_zakaz12 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #FFD700 solid;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   background-color: #E67F22;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 110px;
   height: 30px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 30px;
   text-align: center;
}
#wb_zakaz12 li:hover a, #wb_zakaz12 a:hover
{
   color: #DCDCDC;
   background-color: #FFA500;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_zakaz12 li.firstmain
{
   padding-left: 0px;
}
#wb_zakaz12 li.lastmain
{
   padding-right: 0px;
}
#wb_zakaz12 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#indexImage25
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText13 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText13 div
{
   text-align: left;
}
#wb_zakaz13
{
   border: 0px #000000 solid;
   background-color: transparent;
}
#wb_zakaz13 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_zakaz13 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 120px;
}
#wb_zakaz13 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #FFD700 solid;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   background-color: #E67F22;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 110px;
   height: 30px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 30px;
   text-align: center;
}
#wb_zakaz13 li:hover a, #wb_zakaz13 a:hover
{
   color: #DCDCDC;
   background-color: #FFA500;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_zakaz13 li.firstmain
{
   padding-left: 0px;
}
#wb_zakaz13 li.lastmain
{
   padding-right: 0px;
}
#wb_zakaz13 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#indexImage26
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText14 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText14 div
{
   text-align: left;
}
#wb_zakaz14
{
   border: 0px #000000 solid;
   background-color: transparent;
}
#wb_zakaz14 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_zakaz14 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 120px;
}
#wb_zakaz14 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #FFD700 solid;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   background-color: #E67F22;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 110px;
   height: 30px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 30px;
   text-align: center;
}
#wb_zakaz14 li:hover a, #wb_zakaz14 a:hover
{
   color: #DCDCDC;
   background-color: #FFA500;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_zakaz14 li.firstmain
{
   padding-left: 0px;
}
#wb_zakaz14 li.lastmain
{
   padding-right: 0px;
}
#wb_zakaz14 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#indexImage27
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText15 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText15 div
{
   text-align: left;
}
#wb_zakaz15
{
   border: 0px #000000 solid;
   background-color: transparent;
}
#wb_zakaz15 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_zakaz15 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 120px;
}
#wb_zakaz15 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #FFD700 solid;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   background-color: #E67F22;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 110px;
   height: 30px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 30px;
   text-align: center;
}
#wb_zakaz15 li:hover a, #wb_zakaz15 a:hover
{
   color: #DCDCDC;
   background-color: #FFA500;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_zakaz15 li.firstmain
{
   padding-left: 0px;
}
#wb_zakaz15 li.lastmain
{
   padding-right: 0px;
}
#wb_zakaz15 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#indexLine4
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#indexImage28
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage29
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText16 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText16 div
{
   text-align: left;
}
#wb_zakaz16
{
   border: 0px #000000 solid;
   background-color: transparent;
}
#wb_zakaz16 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_zakaz16 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 120px;
}
#wb_zakaz16 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #FFD700 solid;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   background-color: #00B84E;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 110px;
   height: 30px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 30px;
   text-align: center;
}
#wb_zakaz16 li:hover a, #wb_zakaz16 a:hover
{
   color: #DCDCDC;
   background-color: #32CD32;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_zakaz16 li.firstmain
{
   padding-left: 0px;
}
#wb_zakaz16 li.lastmain
{
   padding-right: 0px;
}
#wb_zakaz16 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#indexImage30
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText17 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText17 div
{
   text-align: left;
}
#wb_zakaz17
{
   border: 0px #000000 solid;
   background-color: transparent;
}
#wb_zakaz17 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_zakaz17 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 120px;
}
#wb_zakaz17 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #FFD700 solid;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   background-color: #00B84E;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 110px;
   height: 30px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 30px;
   text-align: center;
}
#wb_zakaz17 li:hover a, #wb_zakaz17 a:hover
{
   color: #DCDCDC;
   background-color: #32CD32;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_zakaz17 li.firstmain
{
   padding-left: 0px;
}
#wb_zakaz17 li.lastmain
{
   padding-right: 0px;
}
#wb_zakaz17 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#indexImage31
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText18 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText18 div
{
   text-align: left;
}
#wb_zakaz18
{
   border: 0px #000000 solid;
   background-color: transparent;
}
#wb_zakaz18 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_zakaz18 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 120px;
}
#wb_zakaz18 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #FFD700 solid;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   background-color: #00B84E;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 110px;
   height: 30px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 30px;
   text-align: center;
}
#wb_zakaz18 li:hover a, #wb_zakaz18 a:hover
{
   color: #DCDCDC;
   background-color: #32CD32;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_zakaz18 li.firstmain
{
   padding-left: 0px;
}
#wb_zakaz18 li.lastmain
{
   padding-right: 0px;
}
#wb_zakaz18 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_indexText19 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText19 div
{
   text-align: left;
}
#wb_zakaz19
{
   border: 0px #000000 solid;
   background-color: transparent;
}
#wb_zakaz19 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_zakaz19 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 120px;
}
#wb_zakaz19 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #FFD700 solid;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   background-color: #00B84E;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 110px;
   height: 30px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 30px;
   text-align: center;
}
#wb_zakaz19 li:hover a, #wb_zakaz19 a:hover
{
   color: #DCDCDC;
   background-color: #32CD32;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_zakaz19 li.firstmain
{
   padding-left: 0px;
}
#wb_zakaz19 li.lastmain
{
   padding-right: 0px;
}
#wb_zakaz19 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_indexText20 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText20 div
{
   text-align: left;
}
#wb_zakaz21
{
   border: 0px #000000 solid;
   background-color: transparent;
}
#wb_zakaz21 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_zakaz21 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 120px;
}
#wb_zakaz21 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #FFD700 solid;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   background-color: #00B84E;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 110px;
   height: 30px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 30px;
   text-align: center;
}
#wb_zakaz21 li:hover a, #wb_zakaz21 a:hover
{
   color: #DCDCDC;
   background-color: #32CD32;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_zakaz21 li.firstmain
{
   padding-left: 0px;
}
#wb_zakaz21 li.lastmain
{
   padding-right: 0px;
}
#wb_zakaz21 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#indexLine5
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#indexImage34
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage35
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText22 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText22 div
{
   text-align: left;
}
#indexImage36
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage37
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage38
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText23 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText23 div
{
   text-align: left;
}
#wb_indexText24 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText24 div
{
   text-align: left;
}
#wb_indexText25 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText25 div
{
   text-align: left;
}
#wb_zakaz-d
{
   border: 0px #000000 solid;
   background-color: transparent;
}
#wb_zakaz-d ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_zakaz-d li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 200px;
}
#wb_zakaz-d a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #FFD700 solid;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   background-color: #FF6347;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 190px;
   height: 40px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 40px;
   text-align: center;
}
#wb_zakaz-d li:hover a, #wb_zakaz-d a:hover
{
   color: #F5F5F5;
   background-color: #FA8072;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_zakaz-d li.firstmain
{
   padding-left: 0px;
}
#wb_zakaz-d li.lastmain
{
   padding-right: 0px;
}
#wb_zakaz-d br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#minus
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage40
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText21 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText21 div
{
   text-align: center;
}
#indexImage41
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText26 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText26 div
{
   text-align: left;
}
#wb_Otziv
{
   background-color: transparent;
}
#Otziv .frame
{
   width: 971px;
   display: inline-block;
   float: left;
   height: 264px;
}
#wb_Otziv .pagination
{
   bottom: 0;
   left: 0;
   position: absolute;
   text-align: center;
   vertical-align: middle;
   width: 100%;
   z-index: 999;
}
#wb_Otziv .pagination img
{
   border-style: none;
   padding: 12px 12px 12px 12px;
}
#Ost-voprosi
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText27 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText27 div
{
   text-align: left;
}
#indexImage43
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexShape2
{
   width: 968px;
   height: 201px;
   background-color: #232C3B;
   border: 1px #A0A0A0 solid;
}
#wb_indexText28 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText28 div
{
   text-align: center;
}
#wb_indexText29 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText29 div
{
   text-align: center;
}
#wb_indexText30 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText30 div
{
   text-align: left;
}
#indexImage44
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage45
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexImage32
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText31 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText31 div
{
   text-align: left;
}
#wb_zakaz20
{
   border: 0px #000000 solid;
   background-color: transparent;
}
#wb_zakaz20 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_zakaz20 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 120px;
}
#wb_zakaz20 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #FFD700 solid;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   background-color: #00B84E;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 110px;
   height: 30px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 30px;
   text-align: center;
}
#wb_zakaz20 li:hover a, #wb_zakaz20 a:hover
{
   color: #DCDCDC;
   background-color: #32CD32;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_zakaz20 li.firstmain
{
   padding-left: 0px;
}
#wb_zakaz20 li.lastmain
{
   padding-right: 0px;
}
#wb_zakaz20 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#indexImage33
{
   border: 0px #000000 solid;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_indexText28
{
   position: absolute;
   left: 80px;
   top: 3358px;
   width: 811px;
   height: 114px;
   text-align: center;
   z-index: 101;
}
#wb_indexShape2
{
   position: absolute;
   left: 0px;
   top: 3319px;
   width: 970px;
   height: 203px;
   z-index: 100;
}
#wb_uid19
{
   color: #000000;
   font-family: Tahoma;
   font-size: 19px;
}
#wb_indexText17
{
   position: absolute;
   left: 365px;
   top: 2046px;
   width: 108px;
   height: 23px;
   z-index: 74;
   text-align: left;
}
#wb_indexImage29
{
   position: absolute;
   left: 31px;
   top: 1823px;
   width: 274px;
   height: 204px;
   z-index: 70;
}
#wb_zakaz11
{
   position: absolute;
   left: 485px;
   top: 1445px;
   width: 124px;
   height: 30px;
   z-index: 55;
}
#wb_indexImage18
{
   position: absolute;
   left: 30px;
   top: 894px;
   width: 274px;
   height: 204px;
   z-index: 39;
}
#wb_uid1
{
   color: #000000;
   font-family: Tahoma;
   font-size: 19px;
}
#indexLine2
{
   position: absolute;
   left: 0px;
   top: 296px;
   width: 970px;
   height: 3px;
   z-index: 17;
}
#wb_indexText29
{
   position: absolute;
   left: 1207px;
   top: 53px;
   width: 501px;
   height: 138px;
   text-align: center;
   z-index: 3;
}
#wb_indexText18
{
   position: absolute;
   left: 685px;
   top: 2046px;
   width: 108px;
   height: 23px;
   z-index: 77;
   text-align: left;
}
#wb_zakaz12
{
   position: absolute;
   left: 805px;
   top: 1445px;
   width: 124px;
   height: 30px;
   z-index: 58;
}
#indexLine3
{
   position: absolute;
   left: 0px;
   top: 1161px;
   width: 970px;
   height: 1px;
   z-index: 48;
}
#wb_indexImage19
{
   position: absolute;
   left: 347px;
   top: 894px;
   width: 274px;
   height: 204px;
   z-index: 42;
}
#wb_uid2
{
   color: #000000;
   font-family: Tahoma;
   font-size: 19px;
}
#wb_indexText1
{
   position: absolute;
   left: 46px;
   top: 583px;
   width: 108px;
   height: 23px;
   z-index: 22;
   text-align: left;
}
#wb_indexText19
{
   position: absolute;
   left: 45px;
   top: 2313px;
   width: 108px;
   height: 23px;
   z-index: 79;
   text-align: left;
}
#indexLine4
{
   position: absolute;
   left: 0px;
   top: 1759px;
   width: 970px;
   height: 1px;
   z-index: 68;
}
#wb_zakaz13
{
   position: absolute;
   left: 166px;
   top: 1711px;
   width: 124px;
   height: 30px;
   z-index: 61;
}
#wb_uid3
{
   color: #000000;
   font-family: Tahoma;
   font-size: 19px;
}
#wb_indexText2
{
   position: absolute;
   left: 364px;
   top: 583px;
   width: 108px;
   height: 23px;
   z-index: 25;
   text-align: left;
}
#wb_pochemu
{
   position: absolute;
   left: 253px;
   top: 111px;
   width: 463px;
   height: 28px;
   z-index: 12;
}
#indexLine5
{
   position: absolute;
   left: 0px;
   top: 2358px;
   width: 970px;
   height: 1px;
   z-index: 83;
}
#wb_zakaz14
{
   position: absolute;
   left: 485px;
   top: 1711px;
   width: 124px;
   height: 30px;
   z-index: 64;
}
#wb_uid4
{
   color: #000000;
   font-family: Tahoma;
   font-size: 19px;
}
#wb_indexText3
{
   position: absolute;
   left: 684px;
   top: 583px;
   width: 108px;
   height: 23px;
   z-index: 28;
   text-align: left;
}
#wb_zakaz-d
{
   position: absolute;
   left: 140px;
   top: 2705px;
   width: 204px;
   height: 40px;
   z-index: 93;
}
#wb_zakaz15
{
   position: absolute;
   left: 805px;
   top: 1711px;
   width: 124px;
   height: 30px;
   z-index: 67;
}
#wb_uid5
{
   color: #000000;
   font-family: Tahoma;
   font-size: 19px;
}
#wb_indexText4
{
   position: absolute;
   left: 46px;
   top: 850px;
   width: 108px;
   height: 23px;
   z-index: 31;
   text-align: left;
}
#wb_zakaz16
{
   position: absolute;
   left: 165px;
   top: 2042px;
   width: 124px;
   height: 30px;
   z-index: 72;
}
#wb_uid6
{
   color: #000000;
   font-family: Tahoma;
   font-size: 19px;
}
#wb_indexText5
{
   position: absolute;
   left: 365px;
   top: 850px;
   width: 108px;
   height: 23px;
   z-index: 34;
   text-align: left;
}
#wb_Zakaz-zvonok
{
   position: absolute;
   left: 760px;
   top: 25px;
   width: 184px;
   height: 50px;
   z-index: 9;
}
#wb_indexImage1
{
   position: absolute;
   left: 30px;
   top: 22px;
   width: 68px;
   height: 48px;
   z-index: 7;
}
#wb_uid30
{
   color: #4B4B4B;
   font-family: Tahoma;
   font-size: 16px;
}
#wb_indexImage40
{
   position: absolute;
   left: 286px;
   top: 2834px;
   width: 397px;
   height: 35px;
   z-index: 95;
}
#wb_zakaz17
{
   position: absolute;
   left: 485px;
   top: 2042px;
   width: 124px;
   height: 30px;
   z-index: 75;
}
#wb_uid7
{
   color: #000000;
   font-family: Tahoma;
   font-size: 19px;
}
#wb_indexText6
{
   position: absolute;
   left: 684px;
   top: 850px;
   width: 108px;
   height: 23px;
   z-index: 37;
   text-align: left;
}
#wb_zakaz1
{
   position: absolute;
   left: 166px;
   top: 580px;
   width: 124px;
   height: 30px;
   z-index: 23;
}
#wb_uid31
{
   color: #212D32;
   font-family: tahoma;
   font-size: 16px;
}
#wb_indexImage41
{
   position: absolute;
   left: 222px;
   top: 43px;
   width: 29px;
   height: 27px;
   z-index: 2;
}
#wb_uid20
{
   color: #4B4B4B;
   font-family: Tahoma;
   font-size: 16px;
}
#wb_zakaz18
{
   position: absolute;
   left: 805px;
   top: 2042px;
   width: 124px;
   height: 30px;
   z-index: 78;
}
#wb_indexImage30
{
   position: absolute;
   left: 347px;
   top: 1823px;
   width: 274px;
   height: 204px;
   z-index: 73;
}
#wb_d-sr
{
   position: absolute;
   left: 178px;
   top: 1177px;
   width: 615px;
   height: 31px;
   z-index: 49;
}
#wb_uid8
{
   color: #000000;
   font-family: Tahoma;
   font-size: 19px;
}
#wb_indexText7
{
   position: absolute;
   left: 46px;
   top: 1118px;
   width: 108px;
   height: 23px;
   z-index: 40;
   text-align: left;
}
#wb_zakaz2
{
   position: absolute;
   left: 484px;
   top: 579px;
   width: 124px;
   height: 30px;
   z-index: 26;
}
#wb_uid32
{
   color: #FFFFFF;
   font-family: tahoma;
   font-size: 16px;
}
#wb_indexText30
{
   position: absolute;
   left: 1354px;
   top: 198px;
   width: 250px;
   height: 19px;
   z-index: 4;
   text-align: left;
}
#wb_uid21
{
   color: #4B4B4B;
   font-family: Tahoma;
   font-size: 16px;
}
#wb_zakaz19
{
   position: absolute;
   left: 165px;
   top: 2309px;
   width: 124px;
   height: 30px;
   z-index: 80;
}
#wb_indexImage31
{
   position: absolute;
   left: 662px;
   top: 1823px;
   width: 274px;
   height: 204px;
   z-index: 76;
}
#wb_uid10
{
   color: #000000;
   font-family: Tahoma;
   font-size: 19px;
}
#wb_uid9
{
   color: #000000;
   font-family: Tahoma;
   font-size: 19px;
}
#wb_indexImage20
{
   position: absolute;
   left: 667px;
   top: 894px;
   width: 274px;
   height: 204px;
   z-index: 45;
}
#wb_indexText8
{
   position: absolute;
   left: 365px;
   top: 1117px;
   width: 108px;
   height: 23px;
   z-index: 43;
   text-align: left;
}
#wb_zakaz3
{
   position: absolute;
   left: 804px;
   top: 579px;
   width: 124px;
   height: 30px;
   z-index: 29;
}
#wb_uid33
{
   color: #000000;
   font-family: Tahoma;
   font-size: 19px;
}
#wb_indexText31
{
   position: absolute;
   left: 365px;
   top: 2313px;
   width: 108px;
   height: 23px;
   z-index: 104;
   text-align: left;
}
#wb_indexImage32
{
   position: absolute;
   left: 347px;
   top: 2090px;
   width: 274px;
   height: 204px;
   z-index: 103;
}
#wb_indexImage43
{
   position: absolute;
   left: 726px;
   top: 3144px;
   width: 146px;
   height: 146px;
   z-index: 99;
}
#wb_minus
{
   position: absolute;
   left: 503px;
   top: 2392px;
   width: 404px;
   height: 32px;
   z-index: 94;
}
#wb_uid22
{
   color: #4B4B4B;
   font-family: tahoma;
   font-size: 16px;
}
#wb_indexText20
{
   position: absolute;
   left: 685px;
   top: 2313px;
   width: 108px;
   height: 23px;
   z-index: 81;
   text-align: left;
}
#wb_uid11
{
   color: #000000;
   font-family: Tahoma;
   font-size: 19px;
}
#wb_indexText9
{
   position: absolute;
   left: 685px;
   top: 1117px;
   width: 108px;
   height: 23px;
   z-index: 46;
   text-align: left;
}
#wb_zakaz4
{
   position: absolute;
   left: 166px;
   top: 846px;
   width: 124px;
   height: 30px;
   z-index: 32;
}
#wb_indexImage10
{
   position: absolute;
   left: 754px;
   top: 247px;
   width: 105px;
   height: 32px;
   z-index: 19;
   text-align: center;
}
#wb_indexImage5
{
   position: absolute;
   left: 123px;
   top: 154px;
   width: 83px;
   height: 83px;
   z-index: 13;
}
#wb_indexImage33
{
   position: absolute;
   left: 662px;
   top: 2090px;
   width: 274px;
   height: 204px;
   z-index: 106;
}
#wb_indexImage44
{
   position: absolute;
   left: 1193px;
   top: 43px;
   width: 29px;
   height: 27px;
   z-index: 5;
}
#wb_indexText21
{
   position: absolute;
   left: 227px;
   top: 53px;
   width: 518px;
   height: 138px;
   text-align: center;
   z-index: 1;
}
#wb_uid23
{
   color: #4B4B4B;
   font-family: tahoma;
   font-size: 16px;
}
#wb_uid12
{
   color: #000000;
   font-family: Tahoma;
   font-size: 19px;
}
#wb_indexText10
{
   position: absolute;
   left: 46px;
   top: 1449px;
   width: 108px;
   height: 23px;
   z-index: 51;
   text-align: left;
}
#wb_indexImage22
{
   position: absolute;
   left: 31px;
   top: 1225px;
   width: 274px;
   height: 204px;
   z-index: 50;
}
#wb_zakaz5
{
   position: absolute;
   left: 485px;
   top: 846px;
   width: 124px;
   height: 30px;
   z-index: 35;
}
#wb_viberi
{
   position: absolute;
   left: 306px;
   top: 312px;
   width: 356px;
   height: 32px;
   z-index: 20;
}
#wb_indexImage6
{
   position: absolute;
   left: 444px;
   top: 154px;
   width: 83px;
   height: 83px;
   z-index: 14;
}
#wb_indexImage45
{
   position: absolute;
   left: 30px;
   top: 2090px;
   width: 274px;
   height: 204px;
   z-index: 102;
}
#wb_uid24
{
   color: #FF6347;
   font-family: Tahoma;
   font-size: 16px;
}
#wb_indexText22
{
   position: absolute;
   left: 523px;
   top: 2463px;
   width: 406px;
   height: 19px;
   z-index: 86;
   text-align: left;
}
#wb_indexImage34
{
   position: absolute;
   left: 96px;
   top: 2408px;
   width: 287px;
   height: 281px;
   z-index: 84;
}
#wb_uid13
{
   color: #000000;
   font-family: Tahoma;
   font-size: 19px;
}
#wb_indexText11
{
   position: absolute;
   left: 365px;
   top: 1449px;
   width: 108px;
   height: 23px;
   z-index: 54;
   text-align: left;
}
#wb_indexImage23
{
   position: absolute;
   left: 347px;
   top: 1225px;
   width: 274px;
   height: 204px;
   z-index: 53;
}
#wb_zakaz6
{
   position: absolute;
   left: 804px;
   top: 846px;
   width: 124px;
   height: 30px;
   z-index: 38;
}
#wb_indexImage12
{
   position: absolute;
   left: 30px;
   top: 359px;
   width: 274px;
   height: 204px;
   z-index: 21;
}
#wb_indexImage7
{
   position: absolute;
   left: 764px;
   top: 154px;
   width: 83px;
   height: 83px;
   z-index: 15;
}
#wb_uid25
{
   color: #000000;
   font-family: Tahoma;
   font-size: 16px;
}
#wb_Otziv
{
   position: absolute;
   left: 0px;
   top: 2843px;
   width: 971px;
   height: 264px;
   z-index: 96;
   overflow: hidden;
}
#wb_indexText23
{
   position: absolute;
   left: 523px;
   top: 2531px;
   width: 406px;
   height: 38px;
   z-index: 90;
   text-align: left;
}
#wb_indexImage35
{
   position: absolute;
   left: 491px;
   top: 2465px;
   width: 16px;
   height: 16px;
   z-index: 85;
}
#wb_uid14
{
   color: #000000;
   font-family: Tahoma;
   font-size: 19px;
}
#wb_indexText12
{
   position: absolute;
   left: 685px;
   top: 1449px;
   width: 108px;
   height: 23px;
   z-index: 57;
   text-align: left;
}
#wb_indexImage24
{
   position: absolute;
   left: 667px;
   top: 1225px;
   width: 274px;
   height: 204px;
   z-index: 56;
}
#wb_zakaz7
{
   position: absolute;
   left: 166px;
   top: 1114px;
   width: 124px;
   height: 30px;
   z-index: 41;
}
#wb_indexImage13
{
   position: absolute;
   left: 347px;
   top: 359px;
   width: 274px;
   height: 204px;
   z-index: 24;
}
#wb_indexImage8
{
   position: absolute;
   left: 92px;
   top: 248px;
   width: 142px;
   height: 30px;
   z-index: 16;
   text-align: center;
}
#wb_nomertel
{
   position: absolute;
   top: 36px;
   /* width: 291px; */
   height: 33px;
   z-index: 10;
   text-align: left;
   font-family: tahoma;
   right: 0;
   line-height: 1.3;
   font-weight: 600;
   color: #005595;
}
#wb_Ost-voprosi
{
   position: absolute;
   left: 100px;
   top: 3180px;
   width: 292px;
   height: 35px;
   z-index: 97;
}
#wb_uid26
{
   color: #4B4B4B;
   font-family: Tahoma;
   font-size: 16px;
}
#Otziv
{
   position: absolute;
}
#wb_indexText24
{
   position: absolute;
   left: 523px;
   top: 2617px;
   width: 406px;
   height: 19px;
   z-index: 91;
   text-align: left;
}
#wb_indexImage36
{
   position: absolute;
   left: 491px;
   top: 2532px;
   width: 16px;
   height: 16px;
   z-index: 87;
}
#wb_uid15
{
   color: #000000;
   font-family: Tahoma;
   font-size: 19px;
}
#wb_indexText13
{
   position: absolute;
   left: 46px;
   top: 1712px;
   width: 108px;
   height: 23px;
   z-index: 60;
   text-align: left;
}
#wb_indexImage25
{
   position: absolute;
   left: 30px;
   top: 1492px;
   width: 274px;
   height: 204px;
   z-index: 59;
}
#wb_zakaz8
{
   position: absolute;
   left: 485px;
   top: 1113px;
   width: 124px;
   height: 30px;
   z-index: 44;
}
#wb_indexImage14
{
   position: absolute;
   left: 667px;
   top: 359px;
   width: 274px;
   height: 204px;
   z-index: 27;
}
#wb_indexImage9
{
   position: absolute;
   left: 431px;
   top: 246px;
   width: 108px;
   height: 34px;
   z-index: 18;
   text-align: center;
}
#wb_zagolovok
{
   position: absolute;
   left: 110px;
   top: 25px;
   width: 231px;
   height: 46px;
   z-index: 8;
}
#wb_uid27
{
   color: #4B4B4B;
   font-family: tahoma;
   font-size: 17px;
}
#wb_indexText25
{
   position: absolute;
   left: 524px;
   top: 2688px;
   width: 373px;
   height: 57px;
   z-index: 92;
   text-align: left;
}
#wb_indexImage37
{
   position: absolute;
   left: 491px;
   top: 2618px;
   width: 16px;
   height: 16px;
   z-index: 88;
}
#wb_uid16
{
   color: #000000;
   font-family: Tahoma;
   font-size: 19px;
}
#wb_indexText14
{
   position: absolute;
   left: 365px;
   top: 1715px;
   width: 108px;
   height: 23px;
   z-index: 63;
   text-align: left;
}
#wb_indexImage26
{
   position: absolute;
   left: 347px;
   top: 1492px;
   width: 274px;
   height: 204px;
   z-index: 62;
}
#wb_zakaz9
{
   position: absolute;
   left: 805px;
   top: 1113px;
   width: 124px;
   height: 30px;
   z-index: 47;
}
#wb_indexImage15
{
   position: absolute;
   left: 30px;
   top: 626px;
   width: 274px;
   height: 204px;
   z-index: 30;
}
#wb_zakaz20
{
   position: absolute;
   left: 485px;
   top: 2309px;
   width: 124px;
   height: 30px;
   z-index: 105;
}
#wb_uid28
{
   color: #4B4B4B;
   font-family: tahoma;
   font-size: 17px;
}
#wb_indexText26
{
   position: absolute;
   left: 382px;
   top: 198px;
   width: 206px;
   height: 19px;
   z-index: 0;
   text-align: left;
}
#wb_indexImage38
{
   position: absolute;
   left: 491px;
   top: 2689px;
   width: 16px;
   height: 16px;
   z-index: 89;
}
#wb_uid17
{
   color: #000000;
   font-family: Tahoma;
   font-size: 19px;
}
#wb_indexText15
{
   position: absolute;
   left: 685px;
   top: 1715px;
   width: 108px;
   height: 23px;
   z-index: 66;
   text-align: left;
}
#wb_indexImage27
{
   position: absolute;
   left: 667px;
   top: 1492px;
   width: 274px;
   height: 204px;
   z-index: 65;
}
#wb_indexImage16
{
   position: absolute;
   left: 347px;
   top: 626px;
   width: 274px;
   height: 204px;
   z-index: 33;
}
#indexShape1
{
   width: 970px;
   height: 315px;
}
#wb_indexText27
{
   position: absolute;
   left: 102px;
   top: 3226px;
   width: 598px;
   height: 19px;
   z-index: 98;
   text-align: left;
}
#wb_uid29
{
   color: #FF6347;
   font-family: Tahoma;
   font-size: 16px;
}
#wb_zakaz21
{
   position: absolute;
   left: 805px;
   top: 2309px;
   width: 124px;
   height: 30px;
   z-index: 82;
}
#wb_uid18
{
   color: #000000;
   font-family: Tahoma;
   font-size: 19px;
}
#wb_indexText16
{
   position: absolute;
   left: 45px;
   top: 2046px;
   width: 108px;
   height: 23px;
   z-index: 71;
   text-align: left;
}
#wb_indexImage28
{
   position: absolute;
   left: 327px;
   top: 1776px;
   width: 314px;
   height: 24px;
   z-index: 69;
}
#wb_zakaz10
{
   position: absolute;
   left: 166px;
   top: 1445px;
   width: 124px;
   height: 30px;
   z-index: 52;
}
#wb_indexImage17
{
   position: absolute;
   left: 667px;
   top: 626px;
   width: 274px;
   height: 204px;
   z-index: 36;
}
#wb_uid0
{
   color: #000000;
   font-family: Tahoma;
   font-size: 19px;
}
form h3{
    text-align: center;
    font-size: 17px;
}
#indexLine1
{
   position: absolute;
   left: 0px;
   top: 94px;
   width: 970px;
   height: 3px;
   z-index: 11;
}
#wb_indexShape1
{
   position: absolute;
   left: 0px;
   top: 2800px;
   width: 970px;
   height: 315px;
   z-index: 6;
}
